﻿@model Kookboek.Models.ShoppinglistViewModel
@{
    ViewData["Title"] = "New Shoppinglist";
}

<head>
    <title>New Recipe</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="NewList">
                    <h4>Create a new Shoppinglist.</h4>
                    <hr />

                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Title"></label>
                        <input asp-for="Title" class="form-control" type="text" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>

                    <button type="submit" class="button button-wide">Make</button>
                </form>
            </div>
        </div>
    </div>
</body>
