﻿@model Kookboek.Models.AllShoppinglistViewModel
@using BusinessLogic;
@{
    ViewData["Title"] = "Shopping";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="ViewShoppinglists">
    <!-- Overzicht met de Shoppinglists -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @foreach (Shoppinglist shoppinglist in Model.ListOfShoppinglists)
                {
                    <a asp-action="Singlelist" asp-route-id="@shoppinglist.Id" asp-controller="Shoppinglist"><div class="Shoppinglists"><p>@shoppinglist.Title</p></div></a>
                }
            </div>
        </div>
    </div>
</body>