﻿@using BusinessLogic
@model Kookboek.Models.SearchViewModel
@{
    ViewBag.Title = "Shoppinglist";
    List<Article> articles = ViewBag.Articles;
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <div class="col-md-12">
            <div>
                <h1>@ViewBag.Shoppinglist.Title</h1>
            </div>
        </div>
        <div class="col-md-12">
            <div>
                <p>@ViewBag.Shoppinglist.Date</p>
            </div>
        </div>
        <div class="col-md-12">
            @foreach (Article article in ViewBag.Shoppinglist.Articles)
            {
                <div>
                    <p>@article.Name</p>
                </div>
            }
        </div>

        <form asp-action="Singlelist">
            <div class="col-md-12">
                <input asp-for="Query" class="form-control" />
                <span asp-validation-for="Query" class="text-danger"></span>
                <button style="margin-top: 5px;">Search Item</button>
            </div>
        </form>

        <div class="results-container" style="margin-top: 20px;">
            @if (articles.Any())
            {
                @foreach (Article article in articles)
                {
                    <div class="card account-body">
                        <div class="card-body">
                            <h4><p class="card-title" asp-route-id="@article.Id">@article.Name</p></h4>

                            <form asp-action="AddArticle">
                                <button type="submit" method="post" class="addArticleButton" asp-controller="Shoppinglist"
                                        asp-action="AddArticleToShoppinlist" asp-route-shoppinglistid="@ViewBag.Shoppinglist.Id" asp-route-articleid="@article.Id">
                                    Add
                                </button>
                            </form>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</body>
