﻿@{
    ViewData["Title"] = "Home Page";
}

    <body>
        <img class="home-image" style="width:79%; display: block; margin-left: auto; margin-right: auto;" src="~/images/Kookboek.png" />
    </body>
