﻿@{
    ViewData["Title"] = "Add new items";
}

<head>
    <title>New Recipe</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <form asp-action="NewRecipe" asp-controller="Recipe">
                <button type="submit" class="button button-wide NewItem">Make new Recipe</button>
            </form>

            <form asp-action="NewShoppinglist" asp-controller="Shoppinglist">
                <button type="submit" class="button button-wide NewItem">Make new Shoppinglist</button>
            </form>

            <form asp-action="NewArticle" asp-controller="Article">
                <button type="submit" class="button button-wide NewItem">Add a new article</button>
            </form>

        </div>
    </div>
</body>