﻿@model Kookboek.Models.NewArticleViewModel
@{
    ViewData["Title"] = "New Article";
}

<head>
    <title>New Recipe</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="New">
                    <h4>Create a new Article.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <button type="submit" class="button button-wide">Make</button>
                </form>
            </div>
        </div>
    </div>
</body>