﻿@model Kookboek.Models.AllRecipesViewModel
@using BusinessLogic;
@{
    ViewData["Title"] = "Book";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="ViewShoppinglists">
    <!-- Overzicht met de recepten -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @foreach (Recipe recipes in Model.ListOfRecipes)
                {
                    <a asp-action="SingleRecipe" asp-route-id="@recipes.Id" asp-controller="Recipe"><div class="Shoppinglists"><p>Recept van: @recipes.Title</p></div></a>
                }
            </div>
        </div>
    </div>
</body>