﻿@model Kookboek.Models.NewIngredientViewModel
@{
    ViewData["Title"] = "New Ingredient";
}

<head>
    <title>New Recipe</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="NewIngredientAdded">
                    <h4>Create a new recipe.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Number"></label>
                        <input asp-for="Number" class="form-control" />
                        <span asp-validation-for="Number" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Measurement"></label>
                        <textarea asp-for="Measurement" class="form-control" style="height: 425px;" /></textarea>
                        <span asp-validation-for="Measurement" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Article"></label>
                        <textarea asp-for="Article" class="form-control" style="height: 425px;" /></textarea>
                        <span asp-validation-for="Article" class="text-danger"></span>
                    </div>

                    <button type="submit" class="button button-wide">Make</button>
                </form>
            </div>
        </div>
    </div>
</body>