﻿@model Kookboek.Models.RecipeViewModel
@{
    ViewData["Title"] = "New Recipe";
}

<head>
    <title>New Recipe</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="NewRecipeAdded">
                    <h4>Create a new recipe.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Title"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Roadmap"></label>
                        <textarea asp-for="Roadmap" class="form-control" style="height: 425px;"/></textarea>
                        <span asp-validation-for="Roadmap" class="text-danger"></span>
                    </div>
                    <button type="submit" class="button button-wide">Make</button>
                </form>
            </div>
        </div>
    </div>
</body>