﻿@using BusinessLogic

@{
    ViewBag.Title = "Recipe";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <div class="col-md-12">
            <div>
                <h1>@ViewBag.Recipe.Title</h1>
            </div>
        </div>
        <hr>
        <div class="col-md-12">
            <h2>Ingredienten</h2>
            @foreach (Ingredient ingredient in ViewBag.Recipe.Ingredients)
            {
                <div>
                    @ingredient.Number @ingredient.Measurement, @ingredient.Article
                </div>
            }
        </div>
        <hr>
        <div class="col-md-12">
            <h2>Instructies</h2>
            <div>
                <p>@ViewBag.Recipe.Roadmap</p>
            </div>
        </div>
    </div>
</body>
