﻿@model Kookboek.Models.AccountViewModel
@{
    ViewData["Title"] = "Account";
}

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>Account</h4>
                <hr />

                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                        <button type="submit" class="button button-wide">Change</button>
                    </div>
                </form>

                <form method="post">
                    <div class="form-group">
                        <label asp-for="Username"></label>
                        <input asp-for="Username" class="form-control"/>
                        <span asp-validation-for="Username" class="text-danger"></span>
                        <button type="submit" class="button button-wide">Change</button>
                    </div>
                </form>

                <form method="post">
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <button type="submit" class="button button-wide">Change</button>
                    </div>
                    
                </form>
                </div>
        </div>
    </div>
</body>

